---
import Layout from "@/layouts/Layout.astro";

import About from "@/components/sections/About.astro";
import Experience from "@/components/sections/Experience.astro";
import Hero from "@/components/sections/Hero.astro";
import Projects from "@/components/sections/Projects.astro";
import Skills from "@/components/sections/Skills.astro";
import Education from "@/components/sections/Education.astro";
import Section from "@/components/Section.astro";
import { getI18NCV } from "@/i18n";

const { currentLocale } = Astro;
const { basics, skills, education, SEO_TITLE, section_titles } = getI18NCV({
  currentLocale,
});
const { image, summary, url } = basics;
---

<Layout title={`${SEO_TITLE}`} description={summary} image={image} url={url}>
  <main
    class="flex h-screen flex-col max-sm:py-16 md:max-h-screen md:flex-row print:max-w-none print:grid-cols-1 print:gap-6"
  >
    <aside
      class="slide-enter space-y-6 p-8 ease-in md:sticky md:top-0 md:h-full md:w-1/3 md:py-16 md:pl-10 lg:py-24 lg:pl-24 xl:py-40 xl:pl-40 print:col-span-1 print:grid print:grid-cols-2 print:gap-2 print:space-y-0"
    >
      <Hero />
      <About />
    </aside>
    <div
      class="slide-enter-content space-y-12 p-8 md:w-2/3 md:flex-1 md:overflow-y-auto md:p-16 md:pl-6 xl:p-40 print:z-10 print:col-span-1 print:mx-0 print:-mt-36 print:grid print:grid-cols-3 print:gap-2 print:space-y-0"
    >
      <Experience className="print" />
      <Projects className="print:hidden" />
      <Section className="print" title={section_titles.skills}>
        <Skills skills={skills} />
      </Section>
      {education && <Education className="order-first" />}
    </div>
  </main>
</Layout>

<style is:global>
  * {
    scrollbar-color: var(--color-button-muted) var(--color-fill);
  }

  @page {
    size: auto;
    margin: 0mm;
  }
  main {
    margin: auto;
    width: 100%;
  }

  @keyframes slide-enter {
    0% {
      transform: translateY(10px);
      opacity: 0;
    }

    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @media (prefers-reduced-motion: no-preference) {
    .slide-enter,
    .slide-enter-content > *:not(:has(.table-of-contents)) {
      --enter-stage: 0;
      --enter-step: 400ms;
      --enter-initial: 0ms;
      animation: slide-enter 1s both 1;
      animation-delay: calc(
        var(--enter-initial) + var(--enter-stage) * var(--enter-step)
      );
    }

    .slide-enter-content > *:nth-child(1) {
      --enter-stage: 1 !important;
    }
    .slide-enter-content > *:nth-child(2) {
      --enter-stage: 2 !important;
    }
    .slide-enter-content > *:nth-child(3) {
      --enter-stage: 3 !important;
    }
    .slide-enter-content > *:nth-child(4) {
      --enter-stage: 4 !important;
    }
    .slide-enter-content > *:nth-child(5) {
      --enter-stage: 5 !important;
    }
    .slide-enter-content > *:nth-child(6) {
      --enter-stage: 6 !important;
    }
    .slide-enter-content > *:nth-child(7) {
      --enter-stage: 7 !important;
    }
    .slide-enter-content > *:nth-child(8) {
      --enter-stage: 8 !important;
    }
    .slide-enter-content > *:nth-child(9) {
      --enter-stage: 9 !important;
    }
    .slide-enter-content > *:nth-child(10) {
      --enter-stage: 10 !important;
    }
    .slide-enter-content > *:nth-child(11) {
      --enter-stage: 11 !important;
    }
    .slide-enter-content > *:nth-child(12) {
      --enter-stage: 12 !important;
    }
    .slide-enter-content > *:nth-child(13) {
      --enter-stage: 13 !important;
    }
    .slide-enter-content > *:nth-child(14) {
      --enter-stage: 14 !important;
    }
    .slide-enter-content > *:nth-child(15) {
      --enter-stage: 15 !important;
    }
    .slide-enter-content > *:nth-child(16) {
      --enter-stage: 16 !important;
    }
    .slide-enter-content > *:nth-child(17) {
      --enter-stage: 17 !important;
    }
    .slide-enter-content > *:nth-child(18) {
      --enter-stage: 18 !important;
    }
    .slide-enter-content > *:nth-child(19) {
      --enter-stage: 19 !important;
    }
    .slide-enter-content > *:nth-child(20) {
      --enter-stage: 20 !important;
    }
  }
</style>
